In [1]:
# Importing necessary libraries will be here

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

import sys
import os

project_root = os.path.abspath("..")
sys.path.append(project_root)

In [2]:
# we will identify our dataframe here and read the csv 
stock = pd.read_csv('../data/01_raw/stocks.csv')

print(stock.head())

             timestamp         name    last    high     low  chg_   chg_%  \
0  2025-11-12 20:30:02    Coca-Cola   71.71   71.89   71.34  0.10  +0.13%
1  2025-11-12 20:30:02           3M  171.48  171.60  168.65  2.81  +1.67%
2  2025-11-12 20:30:02  Walt Disney  116.35  116.42  114.53  1.50  +1.31%
3  2025-11-12 20:30:02   Amazon.com  245.14  250.37  243.93 -3.96  -1.59%
4  2025-11-12 20:30:02    Microsoft  501.35  509.25  499.12 -7.33  -1.44%

      vol_      time
0    4.78M  12:28:51
1  864.41K  12:27:53
2    5.19M  12:28:17
3   14.07M  12:28:54
4    8.81M  12:28:11

In [3]:
stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 218398 entries, 0 to 218397
Data columns (total 9 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   timestamp  218398 non-null  object
 1   name       218398 non-null  object
 2   last       218398 non-null  float64
 3   high       218398 non-null  float64
 4   low        218398 non-null  float64
 5   chg_       218398 non-null  float64
 6   chg_%      218398 non-null  object
 7   vol_       218398 non-null  object
 8   time       218398 non-null  object
dtypes: float64(4), object(5)
memory usage: 15.0+ MB

In [4]:
cleaned_df = pd.read_csv("../data/02_processed/stocks_clean.csv")

In [5]:
print(cleaned_df.tail())

                  timestamp       name    last    high     low  chg_   chg_%  \
218393  2025-11-12 20:30:02   JPMorgan  321.27  322.25  316.21  5.65  0.0179
218394  2025-11-12 20:30:02      Cisco   73.13   73.27   71.72  1.42  0.0198
218395  2025-11-12 20:30:02  Citigroup  102.85  103.86  101.18  2.09  0.0207
218396  2025-11-12 20:30:02      Apple  274.36  275.24  271.87 -0.89 -0.0032
218397  2025-11-12 20:30:02  Coca-Cola   71.71   71.89   71.34  0.10  0.0013

                vol_
218393  3.560000e+08
218394  1.542000e+09
218395  6.910000e+08
218396  2.079000e+09
218397  4.780000e+08

In [6]:
# Okay now let's test our timestamp features function
import pandas as pd
from src.features import add_time_features

cleaned_df = add_time_features(cleaned_df)

cleaned_df[["timestamp","hour","weekday","month","is_weekend"]].tail()

                 timestamp  hour  weekday  month  is_weekend
218393 2025-11-12 20:30:02    20        2     11           0
218394 2025-11-12 20:30:02    20        2     11           0
218395 2025-11-12 20:30:02    20        2     11           0
218396 2025-11-12 20:30:02    20        2     11           0
218397 2025-11-12 20:30:02    20        2     11           0

In [7]:
# Testing price features function
import pandas as pd
from src.features import add_price_features

cleaned_df = add_price_features(cleaned_df)

cleaned_df[["timestamp","name","last","high_low_range","last_lag_1","return_1h","ma_last_3h","volatility_3h"]].tail(20)

,timestamp,name,last,high_low_range,last_lag_1,return_1h,ma_last_3h,volatility_3h
217803,2025-11-12 10:59:59,Walt Disney,114.85,2.55,114.85,0.000000,114.850000,0.000000
217839,2025-11-12 11:30:01,Walt Disney,114.85,2.55,114.85,0.000000,114.850000,0.000000
217874,2025-11-12 12:00:03,Walt Disney,114.85,2.55,114.85,0.000000,114.850000,0.000000
217892,2025-11-12 12:30:02,Walt Disney,114.85,2.55,114.85,0.000000,114.850000,0.000000
217936,2025-11-12 13:00:03,Walt Disney,114.85,2.55,114.85,0.000000,114.850000,0.000000
217974,2025-11-12 13:30:02,Walt Disney,114.85,2.55,114.85,0.000000,114.850000,0.000000
217991,2025-11-12 14:00:03,Walt Disney,114.85,2.55,114.85,0.000000,114.850000,0.000000
218024,2025-11-12 14:30:02,Walt Disney,114.85,2.55,114.85,0.000000,114.850000,0.000000
218050,2025-11-12 15:00:01,Walt Disney,114.85,2.55,114.85,0.000000,114.850000,0.000000
218096,2025-11-12 15:30:03,Walt Disney,114.85,2.55,114.85,0.000000,114.850000,0.000000
218133,2025-11-12 16:00:00,Walt Disney,114.85,2.55,114.85,0.000000,114.850000,0.000000
218152,2025-11-12 16:30:01,Walt Disney,114.85,2.55,114.85,0.000000,114.850000,0.000000
218173,2025-11-12 17:00:00,Walt Disney,114.85,2.55,114.85,0.000000,114.850000,0.000000
218218,2025-11-12 17:30:00,Walt Disney,114.85,2.55,114.85,0.000000,114.850000,0.000000
218251,2025-11-12 18:00:00,Walt Disney,116.23,1.71,114.85,0.012016,115.310000,0.650538
218274,2025-11-12 18:30:00,Walt Disney,115.60,1.77,116.23,-0.005420,115.560000,0.564092
218297,2025-11-12 19:00:01,Walt Disney,115.70,1.77,115.60,0.000865,115.843333,0.276446
218340,2025-11-12 19:30:00,Walt Disney,115.82,1.77,115.70,0.001037,115.706667,0.089938
218373,2025-11-12 20:00:01,Walt Disney,115.95,1.77,115.82,0.001122,115.823333,0.102089
218385,2025-11-12 20:30:02,Walt Disney,116.35,1.89,115.95,0.003450,116.040000,0.225536

In [8]:
# Let's test the add_volume_features now
from src.features import add_volume_features

cleaned_df = add_volume_features(cleaned_df)

df_stock = cleaned_df[cleaned_df["name"] == "Walt Disney"].sort_values("timestamp")

df_stock[[
    "timestamp", "vol_",
    "vol_lag_1", "vol_change_1h",
    "vol_ma_3h", "vol_ma_6h"
]].head(15)

,timestamp,vol_,vol_lag_1,vol_change_1h,vol_ma_3h,vol_ma_6h
18,2025-03-17 00:45:59,102000000.0,NaN,NaN,102000000.0,102000000.0
36,2025-03-17 01:46:00,102000000.0,102000000.0,0.0,102000000.0,102000000.0
69,2025-03-17 02:46:01,102000000.0,102000000.0,0.0,102000000.0,102000000.0
98,2025-03-17 03:45:59,102000000.0,102000000.0,0.0,102000000.0,102000000.0
126,2025-03-17 04:46:00,102000000.0,102000000.0,0.0,102000000.0,102000000.0
151,2025-03-17 05:46:01,102000000.0,102000000.0,0.0,102000000.0,102000000.0
203,2025-03-17 06:46:00,102000000.0,102000000.0,0.0,102000000.0,102000000.0
210,2025-03-17 07:46:00,102000000.0,102000000.0,0.0,102000000.0,102000000.0
253,2025-03-17 08:46:00,102000000.0,102000000.0,0.0,102000000.0,102000000.0
295,2025-03-17 09:46:00,102000000.0,102000000.0,0.0,102000000.0,102000000.0
304,2025-03-17 10:45:59,102000000.0,102000000.0,0.0,102000000.0,102000000.0
355,2025-03-17 11:46:00,102000000.0,102000000.0,0.0,102000000.0,102000000.0
361,2025-03-17 12:46:00,102000000.0,102000000.0,0.0,102000000.0,102000000.0
412,2025-03-17 13:45:59,102000000.0,102000000.0,0.0,102000000.0,102000000.0
420,2025-03-17 14:46:01,102000000.0,102000000.0,0.0,102000000.0,102000000.0

In [10]:
from src.features import build_features_dataset

df_with_features = build_features_dataset(cleaned_df)

print(df_with_features[[
    "timestamp", "name", "last", "vol_", 
    "vol_lag_1", "vol_change_1h", 
    "vol_ma_3h", "vol_ma_6h", 
    "return_1h", "high_low_range"
]].head(20))

              timestamp name    last         vol_    vol_lag_1  vol_change_1h  \
31  2025-03-17 01:46:00   3M  150.41  409000000.0  409000000.0       0.000000
74  2025-03-17 02:46:01   3M  150.41  409000000.0  409000000.0       0.000000
117 2025-03-17 03:45:59   3M  150.41  409000000.0  409000000.0       0.000000
141 2025-03-17 04:46:00   3M  150.41  409000000.0  409000000.0       0.000000
150 2025-03-17 05:46:01   3M  150.41  409000000.0  409000000.0       0.000000
185 2025-03-17 06:46:00   3M  150.41  409000000.0  409000000.0       0.000000
227 2025-03-17 07:46:00   3M  150.41  409000000.0  409000000.0       0.000000
265 2025-03-17 08:46:00   3M  150.41  409000000.0  409000000.0       0.000000
298 2025-03-17 09:46:00   3M  150.41  409000000.0  409000000.0       0.000000
314 2025-03-17 10:45:59   3M  150.41  409000000.0  409000000.0       0.000000
346 2025-03-17 11:46:00   3M  150.41  409000000.0  409000000.0       0.000000
387 2025-03-17 12:46:00   3M  150.41  409000000.0  409000000.0       0.000000
401 2025-03-17 13:45:59   3M  150.41  409000000.0  409000000.0       0.000000
440 2025-03-17 14:46:01   3M  150.41  409000000.0  409000000.0       0.000000
460 2025-03-17 15:46:00   3M  150.41  409000000.0  409000000.0       0.000000
503 2025-03-17 16:46:00   3M  151.99    2456000.0  409000000.0      -0.993995
514 2025-03-17 17:46:00   3M  153.23   95509000.0    2456000.0      37.888029
569 2025-03-17 18:46:00   3M  153.10  133000000.0   95509000.0       0.392539
598 2025-03-17 19:46:00   3M  152.89  161000000.0  133000000.0       0.210526
614 2025-03-17 20:46:00   3M  153.63  192000000.0  161000000.0       0.192547

        vol_ma_3h     vol_ma_6h  return_1h  high_low_range
31   4.090000e+08  4.090000e+08   0.000000            3.73
74   4.090000e+08  4.090000e+08   0.000000            3.73
117  4.090000e+08  4.090000e+08   0.000000            3.73
141  4.090000e+08  4.090000e+08   0.000000            3.73
150  4.090000e+08  4.090000e+08   0.000000            3.73
185  4.090000e+08  4.090000e+08   0.000000            3.73
227  4.090000e+08  4.090000e+08   0.000000            3.73
265  4.090000e+08  4.090000e+08   0.000000            3.73
298  4.090000e+08  4.090000e+08   0.000000            3.73
314  4.090000e+08  4.090000e+08   0.000000            3.73
346  4.090000e+08  4.090000e+08   0.000000            3.73
387  4.090000e+08  4.090000e+08   0.000000            3.73
401  4.090000e+08  4.090000e+08   0.000000            3.73
440  4.090000e+08  4.090000e+08   0.000000            3.73
460  4.090000e+08  4.090000e+08   0.000000            3.73
503  2.734853e+08  3.412427e+08   0.010505            2.34
514  1.689883e+08  2.889942e+08   0.008158            3.54
569  7.698833e+07  2.429942e+08  -0.000848            3.60
598  1.298363e+08  2.016608e+08  -0.001372            3.61
614  1.620000e+08  1.654942e+08   0.004840            3.63